* {
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.right {
}
.left {
  display: flex;
}
.navbar {
  background-color: rgb(0, 0, 0);

}
.navbar-brand {
  color: white;
  transition: 0.6s ease;

}
.navbar-brand:hover {
  color: rgb(0, 157, 255);
}
.navbar-brand :active,
.navbar-brand:focus {
  color: rgb(99, 8, 218);
}
