@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  user-select: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.welcome {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.blurBG{
    padding: 50px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.348);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0px;

}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  z-index: -1;
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.button-64 {
  align-items: center;
  margin: 0px 50px;

  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 20px;
  justify-content: center;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.8s ease;
  line-height: 0.5;
}

.button-64:active,
.button-64:hover {
  outline: 0;
  transform: scale(1.1);
  transform: scaleX(1.1);
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}
.text {
  color: white;
}
.welcome-h1 {
    font-size:3em;
    font-weight: 800;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.welcome-p{
    font-size:1.2em;
    font-weight: 300;
    color: white;

}
.p-span{
    font-weight: 1000;

    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(219,215,207,1) 100%);background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
}